.expand{
	width: 100%;
}

.header{
	background: #d9090b;
	height: 56px;
}

.logo{
	height: 29px;
	margin: 14px 0px 0px 0px;
}

.title{

}

.title p{
	font-family: helvetica, arial;
	font-size: 24px;
	color: #FFFFFF;
	margin: 14px 0px 0px 0px;
}

.close-session{
	background: url(../images/cerrar_sesion.gif) no-repeat top left;
	padding: 2px 0px 1px 26px;
	color: #666;
	float: right;
	margin-top: 10px;
}

.rounded {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.form-busqueda input {
  height: 43px;
  background-color: #fff;
  border: 1px solid #c9c9c9;
  width: 100%;
  padding: 10px;
  float: left;
  margin-bottom: 20px;
  font-size: 14px;
  color: #a9a9ae;
}

.select_join {
  border: 1px solid #c9c9c9;
  width: 100%;
  height: 43px;
  overflow: hidden;
  background: url(../images/drop-arrows.gif) no-repeat right #fefefe;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.select_join select {
  background: transparent;
  width: 105%;
  font-size: 14px;
  color: #c9c9c9;
  border: 0;
  border-radius: 0;
  height: 41px;
  -webkit-appearance: none;
}

.select_join select:focus {
  outline: none;
}

.form-busqueda button {
  width: 135px;
  height: 43px;
  background-color: #d9090b;
  border-color: #d9090b;
  border: 1px solid;
  color: #fff;
  font-size: 1em;
  margin-top: 21px;
  float: right;
  margin-right: 10px;
}

@media (max-width: 549px) {
  .title p{
    font-size: 14px;
  }
}